<ion-footer>
  <ion-toolbar class="institucional_color" style="padding-bottom: 4px; position: relative;">
    <!-- Línea amarilla -->
    <div class="linea-amarilla"></div>
    
    <ion-segment 
      [value]="selectedButton" 
      (ionChange)="sendClickEvent($event)"
      [(ngModel)]="selectedButton"
    >
      <ion-segment-button value="qrwebscanner" style="--color: white;">
        <ion-icon name="qr-code-outline"></ion-icon>
        {{ "HomePage.Button.Scan" | translate }}
      </ion-segment-button>

      <ion-segment-button value="dinosaur" style="--color: white;">
        <ion-icon name="document-outline"></ion-icon>
        {{ "HomePage.Button.MiClase" | translate }}
      </ion-segment-button>

      <ion-segment-button value="forum" style="--color: white;">
        <ion-icon name="people-outline"></ion-icon>
        {{ "HomePage.Button.Forum" | translate }}
      </ion-segment-button>

      <ion-segment-button value="mis-datos" style="--color: white;">
        <ion-icon name="pencil-outline"></ion-icon>
        {{ "HomePage.Button.MisDatos" | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
