.glow-text {
  color: #d5d5e4; /* Color azul oscuro */
  font-size: 1.5rem;
  text-align: center;
}

// <!-- <ion-row style="background-color: #FFCB05; color: #002654;"> -->
.color {
  color: #0f2330 !important;
}

ion-toolbar.institucional_color {
  background-color: #0f2330 !important;
}
